import playlist from '../assets/music/playlist'

section#home
  //- img(src="./assets/img/back4.jpg")
  #particles-js
  
  .title-wrapper
    h1.left EUGENE DELTA
    h1.right CALM DOWN, IT'S OVER
  
  
  
  .home-wrapper
    .sub-title
      h2 exclusive album preview
      p#paramLine (for your eyes only)
  .player
 
    .playlist
      <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/722586853%3Fsecret_token%3Ds-TFP1v&color=%235fe7d5&inverse=true&auto_play=false&show_user=true"></iframe>
      <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/722586565%3Fsecret_token%3Ds-75aX5&color=%235fe7d5&inverse=true&auto_play=false&show_user=true"></iframe>
      <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/711202672%3Fsecret_token%3Ds-h709b&color=%235fe7d5&inverse=true&auto_play=false&show_user=true"></iframe>
      <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/719297107%3Fsecret_token%3Ds-zNMko&color=%235fe7d5&inverse=true&auto_play=false&show_user=true"></iframe>
      <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/722593144%3Fsecret_token%3Ds-6EDyb&color=%235fe7d5&inverse=true&auto_play=false&show_user=true"></iframe>


      //- table
      //-   tr(onClick="setCurrentSong(this.id, 'Bad Jazz _Mix_04.wav')")#badjazz
      //-     td Bad Jazz
      //-     td 03:43
      //-   tr(onClick="setCurrentSong(this.id, 'Balada_01.mp3')")#balada
      //-     td Balada of a Rainy Fall
      //-     td 04:23
      //-   tr(onClick="setCurrentSong(this.id, 'Iron Ore_04.mp3')")#ironore.current
      //-     td Iron Ore
      //-     td 04:53
        


    a(href="#info-section").scroll-link Album Information
  #info-section
    .info-box
      //- .title
      //-   h1 CALM DOWN, IT'S OVER
      //-   h2 Eugene Delta 
      p
        | Eugene Deltas Debut-Album 
        strong Calm down, it&rsquo;s over
        |  ist die intensive, in 12 Songs verwobene Auseinandersetzung mit dem 
        em Ende
        | .
      p
        | ...
      p
        | Es ist die st&auml;ndige Konfrontation mit Dingen die enden bzw. der Angst davor, dem Nicht-wahrhaben-wollen - vielleicht auch dem Nicht-zulassen - dass etwas endet.
      p
        | ...
      p
        | Dabei ist das Album eine immerw&auml;hrende Gratwanderung zwischen verdrossenem Realit&auml;tsverst&auml;ndnis und lustvoll, phantastischen Gedankenspielen.
        br
        | Dystopische Realit&auml;t vs. Utopische Phantasie.
      p
        | ...
      p
        | Im Rahmen der Aufnahmen konnten die Bl&auml;ser von 
        em Federspiel
        |  f&uuml;r das Einspielen der Bl&auml;sers&auml;tze gewonnen werden. Weiters spielten Florian Nemeth (Schlagzeug) und sangen Patricia Ziegler (
        em Bitten By
        | ) und Anna-Laura Schreilechner.
      p
        br
        strong Eugene Delta - Calm down, it&rsquo;s over
        br
        | written &amp; performed by Eugene Delta
        br
        | Produced by Emanuel Donner, Philip Waldenberger &amp; Sam Irl
        br
        | Recorded by Philip Waldenberger, Mixed by Philip Waldenberger &amp; Sam Irl
      p
        | Mit gro&szlig;em Dank an alle Beteiligten, alle spielend, singend, werkend, h&ouml;rend, sp&uuml;rend und denkend Involvierten!

      p
        br
        a(href='#') Zum Text als PDF

    //- .link-list
    //-   .box
    //-     a(href="") Contact
    //-   .box
    //-     a(href="") Test
    //-   .box
    //-     a(href="") Test
    //-   .box
    //-     a(href="") Emergency Exit
    