import playlist from '../assets/music/playlist'

section#home
  //- img(src="./assets/img/back4.jpg")
  #particles-js
  
  .title-wrapper
    h1.left EUGENE DELTA
    h1.right CALM DOWN, IT'S OVER
  
  .home-wrapper
    .sub-title
      h2 exclusive album preview
      p#paramLine (for your eyes only)
  .player
    p (Auszug)
    .playlist
      <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/799871227%3Fsecret_token%3Ds-TSLZbH0RlQW&color=%235fe7d5&inverse=true&auto_play=false&show_user=true"></iframe>
      <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/799871215%3Fsecret_token%3Ds-mKj3SsgY7rr&color=%235fe7d5&inverse=true&auto_play=false&show_user=true"></iframe>
      <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/799871209%3Fsecret_token%3Ds-WhbFK9wFrPG&color=%235fe7d5&inverse=true&auto_play=false&show_user=true"></iframe>
      <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/799871182%3Fsecret_token%3Ds-HlyqbVcCYPk&color=%235fe7d5&inverse=true&auto_play=false&show_user=true"></iframe>
      <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/799871167%3Fsecret_token%3Ds-byINbXZM058&color=%235fe7d5&inverse=true&auto_play=false&show_user=true"></iframe>
      <iframe width="100%" height="20" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/799871161%3Fsecret_token%3Ds-Vmrjfet2498&color=%235fe7d5&inverse=true&auto_play=false&show_user=true"></iframe>
      
    .soundcloud-link
      a(target="_blank", href="https://soundcloud.com/eugenedelta/sets/calm-down-its-over-pre-release/s-a6g0RAkxm3T") Zum kompletten Album auf SoundCloud


    a(href="#info-section").scroll-link Album Information
  #info-section
    .info-box
      //- .title
      //-   h1 CALM DOWN, IT'S OVER
      //-   h2 Eugene Delta 
      p
        | Eugene Deltas Debut-Album 
        strong Calm Down, It&rsquo;s Over
        |  ist die intensive, in 12 Songs verwobene Auseinandersetzung mit dem 
        em Ende
        | .
      p.short-p
        | ...
      p
        | Es ist die st&auml;ndige Konfrontation mit Dingen die enden bzw. der Angst davor, dem Nicht-wahrhaben-wollen - vielleicht auch dem Nicht-zulassen - dass etwas endet.
      p.short-p
        | ...
      p
        | Dabei ist das Album eine Gratwanderung zwischen verdrossenem Realitätsverständnis und phantastischen Gedankenspielen.
      p.short-p
        | ...
      p
        |Für das Einspielen der Bläsersätze konnten die Bläser von Federspiel 
       
        em Federspiel
        |  gewonnen werden, weiters spielten Florian Nemeth (Schlagzeug) und sangen Patricia Ziegler (
        em Bitten By
        | ) und Anna-Laura Schreilechner.
      p
        br
        strong Eugene Delta - Calm Down, It&rsquo;s Over
        br
        | written &amp; performed by Eugene Delta
        br
        | Produced by Emanuel Donner, Philip Waldenberger &amp; Sam Irl
        br
        | Recorded by Philip Waldenberger, Mixed by Philip Waldenberger &amp; Sam Irl
        br
        | Mastered by Dino Spiluttini
      p
        | Mit gro&szlig;em Dank an alle Beteiligten, alle spielend, singend, werkend, h&ouml;rend, sp&uuml;rend und denkend Involvierten!

      p
        br
        a(target="_blank", href='assets/Eugene Delta - Calm Down, It’s Over Album Info.pdf').pdf-link Ganzer Text als PDF

    //- .link-list
    //-   .box
    //-     a(href="") Contact
    //-   .box
    //-     a(href="") Test
    //-   .box
    //-     a(href="") Test
    //-   .box
    //-     a(href="") Emergency Exit
    