script(type='text/javascript', src='assets/js/p5.min.js')
script(type='text/javascript', src='assets/js/p5.sound.min.js')

script(type='text/javascript', src='bower_components/moment/min/moment.min.js')
script(type='text/javascript', src='bower_components/particles.js/particles.js')
script(type='text/javascript', src='assets/js/script.js')
